body {
    background-color: #f9f9f9 ; /* Fondo oscuro */
    color: black; /* Texto blanco */
}

.card {
    background-color: #f9f9f9; /* Color de fondo para las tarjetas */
}


/* Estilo para la cabecera del formulario */
.card-header {
    background-color: #17a2b8;
    color: white;
}

/* Ajuste de márgenes y alineación */
.row .form-group {
    margin-bottom: 10px;
}

.boton-busqueda {
    background-color: #ff6a00;
    color: #ffffff;
    width: 100%;
    height: 30px;

}

    .boton-busqueda:hover {
        background-color: #ff9800;
        color: white;
    }

/* Estilo general para los botones */
.boton {
    background-color: #ff6a00;
    color: #ffffff;
}

    /*     Hover para los botones */
    .boton:hover {
        background-color: #ff9800;
        color: white;
    }

/* Estilo diferente para el botón de cancelar */
.boton-cancelar {
    background-color: rgb(230, 0, 0);
    color: #ffffff;
}

    /*     Hover para el botón de cancelar */
    .boton-cancelar:hover {
        background-color: rgb(170, 32, 32);
        color: white;
    }

/* Estilos generales para la barra de herramientas */
.toolbar {
    display: flex !important;
    align-items: center !important;
    padding: 8px !important;
    background-color: #f9f9f9 !important;
    border-radius: 5px !important;
    margin-bottom: 15px !important;
}

/* Estilos minimalistas para los botones */
.toolbar-btn {
    background: none !important;
    border: none !important;
    margin-right: 15px !important;
    font-size: 18px !important;
    cursor: pointer !important;
    padding: 5px !important;
    color: #666 !important;
    transition: color 0.3s ease !important;
}

    /* Cambiar color al hacer hover */
    .toolbar-btn:hover {
        color: #ff9800 !important;
    }

/* Estilos para el select */
.toolbar-select {
    margin-right: 15px !important;
    padding: 5px !important;
    font-size: 14px !important;
    border-radius: 5px !important;
    background: none !important;
    color: #666 !important;
    cursor: pointer !important;
}

/* Estilo para los botones seleccionados */
.toolbar-btn.active {
    color: #ff9800 !important;
}

/* Estilo para los iconos dentro de los botones */
.toolbar-btn i {
    pointer-events: none !important; /* Para evitar que los íconos afecten los clics */
}



