

/* Estilo para los tabs */
.nav-tabs .nav-link {
    border-radius: 0; /* sin bordes redondeados */
}

/* Estilo para la cabecera del formulario */
.card-header {
    background-color: #17a2b8; /* Color de fondo azul claro */
    color: white; /* Texto blanco */
}

/* Estilo para los botones */
.btn {
    padding: 10px 20px; /* Ajustar el padding de los botones */
    border-radius: 5px; /* Bordes redondeados */
}

.btn-warning {
    background-color: #FF9800; /* Botón de imprimir en color naranja */
}

.btn-info {
    background-color: #007BFF; /* Botón de documentación en color azul */
}

.btn-primary {
    background-color: #28a745; /* Botón de agregar en color verde */
}
.btn-light {
    color: #000;
    background-color: #f8f9fa; /* Color de fondo claro */
    margin-right: 5px; /* Espaciado entre botones */
}

    .btn-light:hover {
        background-color: #e2e6ea; /* Color al pasar el ratón */
    }
