@{
    ViewData["Title"] = "Gestión de Órdenes";
}

<div class="container mt-4">
  
    <div class="border rounded p-3 mb-4">
        <div class="d-flex align-items-center">
            <div class="w-50 text-center">
                <button class="btn btn-outline-secondary w-75" style="pointer-events: none; color: inherit;">
                    Individual
                </button>
            </div>
            
        </div>
    </div>

    
    
</div>
