@{
    ViewData["Title"] = "VistaIndividual";
}

<!-- Contenedor principal para el formulario Individual-->
<div class="container mt-5">
    <div class="row">
        @* <div class="col-md-12"> *@
            <!-- Tarjeta con el formulario -->
            @* <div class="card shadow-sm"> *@
                <div class="card-header bg-info text-white">
                    <h5 class="mb-0">Individual / Órdenes de trabajo</h5>
                </div>
                <div class="card-body">
                   <!-- Inicio del formulario-->
                    <form method="post" action="/Individual/SubmitForm">
                        <div class="row">
                            <!-- Primera columna con campos de la orden -->
                            <div class="col-md-6">
                                <!-- Campo de Orden -->
                                <div class="form-group">
                                    <label for="orden">Orden</label>
                                    <input type="text" class="form-control" id="orden" placeholder="Ingrese el número" />
                                </div>
                                <!-- Campo de Dependencia -->
                                <div class="form-group">
                                    <label for="dependencia">Depende de</label>
                                    <input type="text" class="form-control" id="dependencia" placeholder="Depende de..." />
                                </div>
                                <!-- Campo de Fecha de Solicitud -->
                                <div class="form-group">
                                    <label for="fechaSolicitud">Fecha de Solicitud</label>
                                    <input type="date" class="form-control" id="fechaSolicitud" />
                                </div>
                                <!-- Campo de Fecha de Vencimiento -->
                                <div class="form-group">
                                    <label for="fechaVencimiento">Fecha de Vencimiento</label>
                                    <input type="date" class="form-control" id="fechaVencimiento" />
                                </div>
                                <!-- Campo de Estado del Trabajo -->
                                <div class="form-group">
                                    <label for="estadoTrabajo">Estado del Trabajo</label>
                                    <select class="form-control" id="estadoTrabajo">
                                        <option>Pendiente</option>
                                        <option>Entregado</option>
                                        <option>En desarrollo</option>
                                        <option>Terminado</option>
                                        <option>En produccion</option>
                                        <option>Anulada</option>
                                        <option>Facturada</option>
                                        <option>Bonificada</option>
                                        <option>Presupuesto enviado al cliente</option>
                                        <option>Prueba realizada OK</option>
                                        <option>Para revisar problemas en las pruebas</option>
                                        <option>Presupuesto aprobado</option>
                                        <option>Presupuesto asignado</option>
                                        <option>Presupuesto no aprobado</option>
                                        <option>Facturada(incluida abono)</option>
                                        <option>En proceso de presupuesto</option>
                                        <option>Presupuesto facturado</option>
                                        <option>Incluida en version</option> 
                                    </select>
                                </div>
                            </div>

                            <!-- Segunda columna con más campos -->
                            <div class="col-md-6">
                                <!-- Campo de Proyecto -->
                                <div class="form-group">
                                    <label for="proyecto">Proyecto</label>
                                    <input type="text" class="form-control" id="proyecto" placeholder="Ingrese proyecto" />
                                </div>
                                <!-- Campo de Módulo / Pantalla -->
                                <div class="form-group">
                                    <label for="moduloPantalla">Módulo / Pantalla</label>
                                    <input type="text" class="form-control" id="moduloPantalla" placeholder="Ingrese módulo/pantalla" />
                                </div>
                                <!-- Campo de Usuario Responsable -->
                                <div class="form-group">
                                    <label for="usuarioResponsable">Usuario Responsable</label>
                                    <select class="form-control" id="usuarioResponsable">
                                        @* <option>JALMADA</option>
                                        <option>KRODRIGUEZ</option>
                                        <option>FJARA</option>
                                        <option>JGARZA</option>
                                        <option>JOSE</option>
                                        <option>DANIEL</option>
                                        <option>SA</option>
                                        <option>CARLOS</option>
                                        <option>PQUIROGA</option>
                                        <option>ATRONCOSO</option>
                                        <option>JURIBE</option>
                                        <option>PRUIZ</option>
                                        <option>EPEREYRA</option>
                                        <option>WSPULER</option>
                                        <option>NLAUGUERO</option>
                                        <option>LMATTAR</option>
                                        <option>MLLARIN</option>
                                        <option>RVALENZUEL</option>
                                        <option>DPASTRANA</option>
                                        <option>HFERNAND</option>
                                        <option></option>
                                        <option>ERUIZ</option>
                                        <option>DDELCOLLAD</option>
                                        <option>CVILLEGAS</option>
                                        <option>CNAVARRO</option>
                                        <option>JSAADE</option> *@
                                    </select>
                                </div>
                                <!-- Campo de Usuario Solicitante -->
                                <div class="form-group">
                                    <label for="usuarioSolicitante">Usuario Solicitante</label>
                                     <select class="form-control" id="usuarioSolicitante">
                                     </select>
                                </div>
                                <!-- Campo de Asunto -->
                                <div class="form-group">
                                    <label for="asunto">Asunto</label>
                                    <input type="text" class="form-control" id="asunto" placeholder="Ingrese el asunto" />
                                </div>
                            </div>
                        </div>
                                <!-- Sección de horas y avances -->
                                <div class="row mt-3">
                                    <div class="col-md-12"> 
                                        <h6>Horas y Avances</h6>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <!-- Campo de Horas Facturables -->
                                                <div class="form-group">
                                                    <label for="horasFacturables">Horas Facturables</label>
                                                    <input type="number" class="form-control" id="horasFacturables" placeholder="0" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <!--Campo de % de Avance-->
                                                <div class="form-group">
                                                    <label for="porcentajeAvance"> % de Avance</label>
                                                    <input type="number" class="form-control" id="porcentajeAvance" placeholder="0" min="0" max="100" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <!-- Campo de Horas Consumidas -->
                                                <div class="form-group">
                                                    <label for="horasConsumidas">Horas Consumidas</label>
                                                    <input type="number" class="form-control" id="horasConsumidas" placeholder="0" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <!-- Campo de Horas Avances -->
                                                <div class="form-group">
                                                    <label for="horasAvances">Horas Avances</label>
                                                    <input type="number" class="form-control" id="horasAvances" placeholder="0" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <!--Campo de Nro OT Implementación-->
                                                <div class="form-group">
                                                    <label for="NroOtImp">Nro OT Implementación</label>
                                                    <input type="number" class="form-control" id="NroOtImp" placeholder="0" />
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                                <!-- Sección de descripción y tabs -->
                                <div class="row mt-4">
                                    <div class="col-md-12">
                                        <!-- Navegación por tabs -->
                                        <ul class="nav nav-tabs mt-3" id="tabContent">
                                            <li class="nav-item">
                                                <a class="nav-link active" data-toggle="tab" href="#descripcion">Descripción</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#avanceTrabajo">Avances del Trabajo</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#tiempos">Tiempos</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#testing">Información de Testing</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#produccion">Puesta en Producción</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#archivoAdjunto">Archivo Adjunto</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#historialEstados">Historial Estados</a>
                                            </li>
                                        </ul>
                                        <!-- Contenido de los tabs -->
                                        <div class="tab-content">
                                            <div id="descripcion" class="tab-pane fade show active">
                                                <p>Descripción...</p>
                                            </div>
                                            <div id="avanceTrabajo" class="tab-pane fade">
                                                <p>Contenido de avances del trabajo...</p>
                                            </div>
                                            <div id="tiempos" class="tab-pane fade">
                                                <p>Contenido de tiempos...</p>
                                            </div>
                                            <div id="testing" class="tab-pane fade">
                                                <p>Contenido de información de testing...</p>
                                            </div>
                                            <div id="produccion" class="tab-pane fade">
                                                <p>Contenido de puesta en producción...</p>
                                            </div>
                                            <div id="archivoAdjunto" class="tab-pane fade">
                                                <p>Contenido de archivo adjunto...</p>
                                            </div>
                                            <div id="historialEstados" class="tab-pane fade">
                                                <p>Contenido del historial de estados...</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Botones de acciones -->
                                <div class="row mt-4">
                                    <div class="col-md-12 d-flex justify-content-between">
                                         <button class="btn btn-warning">Imprimir</button>
                                        <button class="btn btn-info">Ver Documentación Digital</button>
                                        <div>
                                            <button class="btn btn-primary">Agregar</button>
                                            <button class="btn btn-secondary">Modificar</button>
                                            <button class="btn btn-danger">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                    </form>
                </div>
            @* </div> *@
        @* </div> *@
    </div>
</div>

 
