@{
    ViewData["Title"] = "VistaIndividual";
}

<!-- Contenedor principal para el formulario Individual-->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <!-- Tarjeta con el formulario -->
            <div class="card shadow-sm">
                <div class="card-header bg-info text-white">
                    <h5 class="mb-0">Individual / Órdenes de trabajo</h5>
                </div>
                <div class="card-body">
                   <!-- Inicio del formulario-->
                    <form method="post" action="/Individual/SubmitForm">
                        <div class="row">
                            <!-- Primera columna con campos de la orden -->
                            <div class="col-md-6">
                                <!-- Campo de Orden -->
                                <div class="form-group">
                                    <label for="orden">Orden</label>
                                    <input type="text" class="form-control" id="orden" placeholder="Ingrese el número" />
                                </div>
                                <!-- Campo de Dependencia -->
                                <div class="form-group">
                                    <label for="dependencia">Depende de</label>
                                    <input type="text" class="form-control" id="dependencia" placeholder="Depende de..." />
                                </div>
                                <!-- Campo de Fecha de Solicitud -->
                                <div class="form-group">
                                    <label for="fechaSolicitud">Fecha de Solicitud</label>
                                    <input type="date" class="form-control" id="fechaSolicitud" />
                                </div>
                                <!-- Campo de Fecha de Vencimiento -->
                                <div class="form-group">
                                    <label for="fechaVencimiento">Fecha de Vencimiento</label>
                                    <input type="date" class="form-control" id="fechaVencimiento" />
                                </div>

                                </div>
                            </div>

                    </form>


                </div>

            </div>

        </div>

    </div>

</div>

 
