@{
    ViewData["Title"] = "VistaIndividual";
}

<!-- Contenedor principal-->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <!-- Tarjeta -->
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white"></div>

            </div>

        </div>

    </div>
   
</div>

 
