@{
    ViewData["Title"] = "VistaIndividual";
}

<!-- Contenedor principal para el formulario Individual-->
<div class="container-fluid mt-3" style="width: 100% ; max-width: 1600px; margin: 0 auto;">
    <div class="row">
        <div class="col-12">
            <!-- Tarjeta con el formulario -->
            <div class="card shadow-sm"> 
                <div class="btn btn secondary; card-header bg-info text-white">
                    <h5 class="mb-0">Individual  | Ordenes de trabajo </h5>
                </div>
                <div class="card-body">
                   <!-- Inicio del formulario-->
                    <form method="post" action="/Individual/SubmitForm">
                        <div class="row row-cols-3 g-3">
                            <!-- Primera fila con campos de la orden -->
                            <!-- Campo de Orden -->
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="orden">Orden</label>
                                    <input type="text" class="form-control" id="orden" placeholder="Ingrese el número" />
                                </div>
                            </div>
                                <!-- Campo de Dependencia -->
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="dependencia">Depende de</label>
                                    <input type="text" class="form-control" id="dependencia" placeholder="Depende de..." />
                                </div>
                            </div>
                                <!-- Botón de búsqueda -->
                            <div class="col-md-2 d-flex align-items-end">
                                <div class="form-group w-100">
                                    <label>&nbsp;</label>
                                    <button type="button" class="btn btn-primary btn-block">Buscar</button>
                                </div>
                            </div>
                                <!-- Campo de Fecha de Solicitud -->
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="fechaSolicitud">Fecha de Solicitud</label>
                                    <input type="date" class="form-control" id="fechaSolicitud" />
                                </div>
                            </div>
                                <!-- Campo de Fecha de Vencimiento -->
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="fechaVencimiento">Fecha de Vencimiento</label>
                                    <input type="date" class="form-control" id="fechaVencimiento" />
                                </div>
                            </div>
                                <!-- Campo de Estado del Trabajo -->
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="estadoTrabajo">Estado del Trabajo</label>
                                    <select class="form-control" id="estadoTrabajo">
                                        <option>Pendiente</option>
                                        <option>Entregado</option>
                                        <option>En desarrollo</option>
                                        <option>Terminado</option>
                                        <option>En produccion</option>
                                        <option>Anulada</option>
                                        <option>Facturada</option>
                                        <option>Bonificada</option>
                                        <option>Presupuesto enviado al cliente</option>
                                        <option>Prueba realizada OK</option>
                                        <option>Para revisar problemas en las pruebas</option>
                                        <option>Presupuesto aprobado</option>
                                        <option>Presupuesto asignado</option>
                                        <option>Presupuesto no aprobado</option>
                                        <option>Facturada(incluida abono)</option>
                                        <option>En proceso de presupuesto</option>
                                        <option>Presupuesto facturado</option>
                                        <option>Incluida en version</option> 
                                    </select>
                                </div>
                            </div>
                        </div>    

                        <!-- Segunda fila con campos: Cliente, Sistema, Proyecto y botón de búsqueda -->
                        <div class="row row-cols-3 g-3">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="cliente">Cliente</label>
                                    <input type="text" class="form-control" id="cliente" placeholder="Ingrese cliente" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="sistema">Sistema</label>
                                    <input type="text" class="form-control" id="sistema" placeholder="Ingrese sistema" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="proyecto">Proyecto</label>
                                    <input type="text" class="form-control" id="proyecto" placeholder="Ingrese proyecto" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="proyecto"></label>
                                    <input type="text" class="form-control" id="proyecto"  />
                                </div>
                            </div>
                            <div class="col-md-2 d-flex align-items-end">
                                <div class="form-group w-100">
                                    <label>&nbsp;</label>
                                    <button type="button" class="btn btn-primary btn-block">Buscar</button>
                                </div>
                            </div>
                        </div>

                        <!-- Tercera fila con Usuario Responsable, Usuario Solicitante y Módulo/Pantalla -->
                        <div class="row mt-3">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="usuarioResponsable">Usuario Responsable</label>
                                    <select class="form-control" id="usuarioResponsable">
                                        <!-- Opciones -->
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="usuarioSolicitante">Usuario Solicitante</label>
                                    <select class="form-control" id="usuarioSolicitante">
                                        <!-- Opciones -->
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="moduloPantalla">Módulo / Pantalla</label>
                                    <input type="text" class="form-control" id="moduloPantalla" placeholder="Ingrese módulo/pantalla" />
                                </div>
                            </div>
                        </div>

                        <!-- Cuarta fila con Asunto y Solicitado Por -->
                        <div class="row row-cols-3 g-3">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="asunto">Asunto</label>
                                    <input type="text" class="form-control" id="asunto" placeholder="Ingrese el asunto" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="solicitadoPor">Solicitado Por</label>
                                    <input type="text" class="form-control" id="solicitadoPor" placeholder="Ingrese quien solicita" />
                                </div>
                            </div>
                        </div>

                        <!-- Quinta fila con Horas Facturables, % de Avance, Horas Consumidas, Horas Avances, Nro Implementación y Checkboxes -->
                        <div class="row row-cols-3 g-3">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="horasFacturables">Horas Facturables</label>
                                    <input type="number" class="form-control" id="horasFacturables" placeholder="0" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="porcentajeAvance">% de Avance</label>
                                    <input type="number" class="form-control" id="porcentajeAvance" placeholder="0" min="0" max="100" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="horasConsumidas">Horas Consumidas</label>
                                    <input type="number" class="form-control" id="horasConsumidas" placeholder="0" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="horasAvances">Horas Avances</label>
                                    <input type="number" class="form-control" id="horasAvances" placeholder="0" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="NroOtImp">Nro Implementación</label>
                                    <input type="number" class="form-control" id="NroOtImp" placeholder="0" />
                                </div>
                            </div>
                            <div class="col-md-2 d-flex align-items-center">
                                <div class="form-group">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="premioAvance">
                                        <label class="form-check-label" for="premioAvance">Premio por Avance</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="alcanceIndefinido">
                                        <label class="form-check-label" for="alcanceIndefinido">Alcance Indefinido</label>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Sección de descripción y tabs -->
                                <div class="row mt-4">
                                    <div class="col-12">
                                        <!-- Contenedor para los tabs -->
                                        <div class="container">
                                            <!-- Navegación por tabs -->
                                            <ul class="nav nav-tabs justify-content-between mt-3" id="tabContent" style="border-bottom: 1px solid #dee2e6;">
                                                <li class="nav-item">
                                                    <a class="nav-link active" data-toggle="tab" href="#descripcion">Descripción</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="tab" href="#avanceTrabajo">Avances del Trabajo</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="tab" href="#tiempos">Tiempos</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="tab" href="#testing">Información de Testing</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="tab" href="#produccion">Puesta en Producción</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="tab" href="#archivoAdjunto">Archivo Adjunto</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="tab" href="#historialEstados">Historial Estados</a>
                                                </li>
                                            </ul>
                                            <!-- Contenido de los tabs -->
                                            <div class="tab-content">
                                                <div id="descripcion" class="tab-pane fade show active">
                                                    <p>Descripción...</p>
                                                </div>
                                                <div id="avanceTrabajo" class="tab-pane fade">
                                                    <p>Contenido de avances del trabajo...</p>
                                                </div>
                                                <div id="tiempos" class="tab-pane fade">
                                                    <p>Contenido de tiempos...</p>
                                                </div>
                                                <div id="testing" class="tab-pane fade">
                                                    <p>Contenido de información de testing...</p>
                                                </div>
                                                <div id="produccion" class="tab-pane fade">
                                                    <p>Contenido de puesta en producción...</p>
                                                </div>
                                                <div id="archivoAdjunto" class="tab-pane fade">
                                                    <p>Contenido de archivo adjunto...</p>
                                                </div>
                                                <div id="historialEstados" class="tab-pane fade">
                                                    <p>Contenido del historial de estados...</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Botones de acciones -->
                                <div class="row mt-2">
                                    <div class="col-md-12 d-flex justify-content-between align-items-center">
                                        
                                        <button class="btn btn-primary">Imprimir</button>
                                        <button class="btn btn-primary">Ver Documentación Digital</button>

                                        <!-- Agrupación de otros botones -->
                                        <div class="btn-group" role="group">
                                            <button class="btn btn-primary">Copiar Orden</button>
                                            <button class="btn btn-primary">Enviar Orden</button>
                                            <button class="btn btn-primary">Agregar</button> 
                                            <button class="btn btn-primary">Modificar</button>
                                            <button class="btn btn-primary">Grabar</button>
                                            <button class="btn btn-danger">Cancelar</button>
                                        </div>
                                    </div>
                                </div>

                    </form>
                </div>
            </div> 
        </div>
    </div>
</div>
