@{
    ViewData["Title"] = "VistaIndividual";
}

<!-- Contenedor principal para el formulario Individual-->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <!-- Tarjeta con el formulario -->
            <div class="card shadow-sm">
                <div class="card-header bg-info text-white">
                    <h5 class="mb-0">Individual / Órdenes de trabajo</h5>
                </div>
                <div class="card-body">
                   <!-- Inicio del formulario-->
                    <form method="post" action="/Individual/SubmitForm">
                        <div class="row">
                            <!-- Primera columna con campos de la orden -->
                            <div class="col-md-6">
                                <!-- Campo de Orden -->
                                <div class="form-group">
                                    <label for="orden">Orden</label>
                                    <input type="text" class="form-control" id="orden" placeholder="Ingrese el número" />
                                </div>
                                <!-- Campo de Dependencia -->
                                <div class="form-group">
                                    <label for="dependencia">Depende de</label>
                                    <input type="text" class="form-control" id="dependencia" placeholder="Depende de..." />
                                </div>
                                <!-- Campo de Fecha de Solicitud -->
                                <div class="form-group">
                                    <label for="fechaSolicitud">Fecha de Solicitud</label>
                                    <input type="date" class="form-control" id="fechaSolicitud" />
                                </div>
                                <!-- Campo de Fecha de Vencimiento -->
                                <div class="form-group">
                                    <label for="fechaVencimiento">Fecha de Vencimiento</label>
                                    <input type="date" class="form-control" id="fechaVencimiento" />
                                </div>
                                <!-- Campo de Estado del Trabajo -->
                                <div class="form-group">
                                    <label for="estadoTrabajo">Estado del Trabajo</label>
                                    <select class="form-control" id="estadoTrabajo">
                                        <option>Pendiente</option>
                                        <option>Entregado</option>
                                        <option>En desarrollo</option>
                                        <option>Terminado</option>
                                        <option>En produccion</option>
                                        <option>Anulada</option>
                                        <option>Facturada</option>
                                        <option>Bonificada</option>
                                        <option>Presupuesto enviado al cliente</option>
                                        <option>Prueba realizada OK</option>
                                        <option>Para revisar problemas en las pruebas</option>
                                        <option>Presupuesto aprobado</option>
                                        <option>Presupuesto asignado</option>
                                        <option>Presupuesto no aprobado</option>
                                        <option>Facturada(incluida abono)</option>
                                        <option>En proceso de presupuesto</option>
                                        <option>Presupuesto facturado</option>
                                        <option>Incluida en version</option> 
                                    </select>
                                </div>
                            </div>

                            <!-- Segunda columna con más campos -->
                            <div class="col-md-6">
                                <!-- Campo de Proyecto -->
                                <div class="form-group">
                                    <label for="proyecto">Proyecto</label>
                                    <input type="text" class="form-control" id="proyecto" placeholder="Ingrese proyecto" />
                                </div>
                                <!-- Campo de Módulo / Pantalla -->
                                <div class="form-group">
                                    <label for="moduloPantalla">Módulo / Pantalla</label>
                                    <input type="text" class="form-control" id="moduloPantalla" placeholder="Ingrese módulo/pantalla" />
                                </div>
                                <!-- Campo de Usuario Responsable -->
                                <div class="form-group">
                                    <label for="usuarioResponsable">Usuario Responsable</label>
                                    <select class="form-control" id="usuarioResponsable">
                                        @* <option>JALMADA</option>
                                        <option>KRODRIGUEZ</option>
                                        <option>FJARA</option>
                                        <option>JGARZA</option>
                                        <option>JOSE</option>
                                        <option>DANIEL</option>
                                        <option>SA</option>
                                        <option>CARLOS</option>
                                        <option>PQUIROGA</option>
                                        <option>ATRONCOSO</option>
                                        <option>JURIBE</option>
                                        <option>PRUIZ</option>
                                        <option>EPEREYRA</option>
                                        <option>WSPULER</option>
                                        <option>NLAUGUERO</option>
                                        <option>LMATTAR</option>
                                        <option>MLLARIN</option>
                                        <option>RVALENZUEL</option>
                                        <option>DPASTRANA</option>
                                        <option>HFERNAND</option>
                                        <option></option>
                                        <option>ERUIZ</option>
                                        <option>DDELCOLLAD</option>
                                        <option>CVILLEGAS</option>
                                        <option>CNAVARRO</option>
                                        <option>JSAADE</option> *@
                                    </select>
                                </div>
                                <!-- Campo de Usuario Solicitante -->
                                <div class="form-group">
                                    <label for="usuarioSolicitante">Usuario Solicitante</label>
                                     <select class="form-control" id="usuarioSolicitante">
                                     </select>
                                </div>
                                <!-- Campo de Asunto -->
                                <div class="form-group">
                                    <label for="asunto">Asunto</label>
                                    <input type="text" class="form-control" id="asunto" placeholder="Ingrese el asunto" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

 
