@{
    ViewData["Title"] = "Gestión de Órdenes";
}
<link href="~/css/VistaOrden.css" rel="stylesheet" />


<div class="container-fluid mt-3" style="width: 100% ; max-width: 1600px; margin: 0 auto;">
    <div class="row">
        <div class="col-12">
        <div class="card shadow-sm">
            <div class="btn btn secondary; card-header bg-info text-white">
                <h5 class="mb-0">Individual | Órdenes de Trabajo</h5>
            </div>

                <div class="card-body" style="font-size: 12px; padding: 0;">
                    <ul class="nav-tabs">
                        <li><button class="tab-btn active">Cliente/Sistema</button></li>
                        <li><button class="tab-btn">Fecha Solicitud y Vencimiento</button></li>
                        <li><button class="tab-btn">Orden</button></li>
                        <li><button class="tab-btn">Cambio de Estado</button></li>
                    </ul>
                </div>


                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <form method="post" action="/GestionOrdenes/SubmitForm">
                                <div class="row row-cols-3 g-3">
                                    <div class="col-md-4" style="font-size: 13px">
                                        <div class="form-group" style="padding-top: 10px">
                                            <label for="cliente">Cliente</label>
                                            <select class="form-control" style="font-size:12px;" id="usuarioResponsable">

                                                <option>...</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4" style="font-size: 13px">
                                        <div class="form-group" style="padding-top: 10px">
                                            <label for="sistema">Sistema</label>
                                            <select class="form-control" style="font-size:12px;" id="usuarioResponsable">

                                                <option>...</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-1" style="font-size: 13px">
                                        <div class="form-group" style="padding-top: 10px">
                                            <label for="proyecto">Proyecto</label>
                                            <input type="text" class="form-control " style="font-size: 12px" id="proyecto" placeholder="Ingrese" />
                                        </div>
                                    </div>
                                    <div class="col-md-2" style="font-size: 13px">
                                        <div class="form-group0 " style="padding-top: 10px">
                                            <label for="proyecto"></label>
                                            <input type="text" class="form-control " style="font-size: 12px" id="proyecto" />
                                        </div>
                                    </div>
                                    <div class="col-md-1 d-flex align-items-end">
                                        @* <div class="form-group"> *@
                                        @* <label>&nbsp;</label> *@
                                        <button type="button" class="btn boton" style="font-size: 11px">Buscar</button>
                                        @* </div> *@
                                    </div>

                                </div>
                                <div class="row row-cols-3 g-3">
                                    <div class="col-md-4" style="font-size: 13px">
                                        <div class="form-group">
                                            <label for="Responsable">Responsable</label>
                                            <select class="form-control" style="font-size:12px;" id="usuarioResponsable">

                                                <option>...</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-4" style="font-size: 13px">
                                        <div class="form-group">
                                            <label for="estado">Estado</label>
                                            <select class="form-control" style="font-size:12px;" id="usuarioResponsable">

                                                <option>...</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-4" style="font-size: 13px">
                                        <div class="form-group">
                                            <label for="moduloPantalla">Módulo / Pantalla</label>
                                            <input type="text" class="form-control " style="font-size: 12px" id="moduloPantalla" name="modulo" placeholder="Ingrese módulo/pantalla" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row row-cols-3 g-3">
                                    <div class="col-md-4 " style="font-size: 13px">
                                            <div class="form-group">
                                                <label for="asunto">Asunto</label>
                                            <input type="text" class="form-control" style="font-size: 12px" id="asunto" name="asunto" placeholder="Ingrese el asunto" />
                                            </div>
                                        </div>

                                    <div class="col-md-4" style="font-size: 13px">
                                        <div class="form-group">
                                            <label for="usuarioResponsable">Solicitante</label>
                                            <select class="form-control" style="font-size:12px;" id="usuarioSolicitante" name="usuarioSolicitante">
                                                
                                                @if (nombresUsuarios != null)
                                                {
                                                    <option value="">...</option>

                                                    foreach (var usuario in nombresUsuarios)
                                                    {
                                                        <option value="@usuario.Value">@usuario.Value</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>


                                    <div class="col-md-4" style="font-size: 13px">
                                            <div class="form-group">
                                                <label for="solicitadoPor">Solicitado Por</label>
                                            <select class="form-control" style="font-size:12px;" id="Solicitante" name="Solicitante">

                                                <option>...</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>




                        <div class="col-md-3" style="width: 282px">

                            <div class="card border-dark mt-4" style="height: 130px">

                                <div class="card-body d-flex flex-column justify-content-center align-items-center" style="font-size: 10px;">

                                    <h5 class="card-title mb-2" style="font-size: 15px;"> 🔍Búsqueda</h5>
                                    <button type="submit" class="btn boton mb-1 w-75" style="font-size: 11px;">Buscar</button>
                                    <button type="reset" class="btn boton w-75" style="font-size: 11px;">Limpiar</button>

                                </div>

                            </div>

                        </div>
                    </form>


                    <div class="container mt-3">
                        <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
                            <table class="table table-bordered table-striped mb-0">
                                <thead class="table-primary" style="border-collapse: collapse ;position: sticky; top: 0; z-index: 1;">
                                    <tr class="text-nowrap">
                                        <th scope="col">N°</th>
                                        <th scope="col">OT N°</th>
                                        <th scope="col">Depende De</th>
                                        <th scope="col">Ot Impl.</th>
                                        <th scope="col">Fecha Solicitud</th>
                                        <th scope="col">Fecha Vencimiento</th>
                                        <th scope="col">Clientes</th>
                                        <th scope="col">Sistemas</th>
                                        <th scope="col">Proyectos</th>
                                        <th scope="col">Responsable</th>
                                        <th scope="col">Estado</th>
                                        <th scope="col">Modulo</th>
                                        <th scope="col">Asunto</th>
                                        <th scope="col">Porcentaje Avance</th>
                                        <th scope="col">Horas Estimadas</th>
                                        <th scope="col">Horas Consumidas</th>
                                        <th scope="col">Total Horas Avance</th>
                                        <th scope="col">Clientes y Usuarios</th>
                                        <th scope="col">Prioridad</th>
                                        <th scope="col">Proyecto</th>
                                        <th scope="col">Premio por Avance</th>
                                        <th scope="col">Alcanze Indefinido</th>
                                    </tr>
                                </thead>
                                <tbody class="table-grid">
                                    @if (OrdenesBuscadas != null)
                                    {
                                        int num = 1;
                                        foreach (var orden in OrdenesBuscadas)
                                        {
                                            <tr>
                                                <td>@num</td>
                                                    @for (int i = 0; i < 21; i++)
                                                    {
                                                        <td>
                                                            <text>@orden.ElementAt(i).Value<br /></text>
                                                        </td>
                                                    }
                                                @{num++;}
                                            </tr>
                                            
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                  
                     
                        
                   

                    <div class="row justify-content-center">

                        <div class="" style="width:402px">
                            <div class="form-group" style="padding-left: 0px">
                                <label for="cantidadOT">Cantidad OT</label>
                                <input type="number" class="form-control" style="font-size: 12px" id="cantidadOT" placeholder="Ingrese cantidad OT" />
                            </div>
                        </div>

                        <div class="" style="width: 402px">
                            <div class="form-group">
                                <label for="totalHorasEstimadas">Total de horas estimadas</label>
                                <input type="number" class="form-control " style="font-size: 12px" id="totalHorasEstimadas" placeholder="Ingrese horas estimadas" />
                            </div>
                        </div>

                        <div class="" style="width: 402px">
                            <div class="form-group" style="padding-right: 28px">
                                <label for="totalHorasAvances">Total de horas avances</label>
                                <input type="number" class="form-control" style="font-size: 12px" id="totalHorasAvances" placeholder="Ingrese horas avances" />
                            </div>
                        </div>
                    </div>
                </div>

                    
			</div>
		</div>
    </div>    
</div>