
@{
    ViewData["Title"] = "Gestión de Órdenes";
}

<div class="container mt-4">
   
    <div class="border rounded p-3 mb-4">
        <div class="d-flex align-items-center">
            <div class="w-50 text-center">
                <button class="btn btn-outline-secondary w-75" style="pointer-events: none; color: inherit;">
                    Individual
                </button>
            </div>
            <div class="border-end" style="height: 40px;"></div> 
            <div class="w-50 text-center">
                <button class="btn btn-outline-secondary w-75 shadow-sm" style="transform: translateY(-5px); pointer-events: none; color: inherit;">
                    Órdenes de Trabajo
                </button>
            </div>
        </div>
    </div>

   
    <div class="border rounded p-3 mb-3">
        <div class="d-flex">
            <div class="p-2" style="width: 15%;">
                <small class="d-block mb-1">Cliente/Sistema</small>
                
            </div>

            <div class="p-2" style="width: 15%;">
                <small class="d-block mb-1">Fecha Solicitud y Vencimiento</small>
                
            </div>
            
            <div class="p-2" style="width: 15%;">
                <small class="d-block mb-1">Orden</small>
                
            </div>

            <div class="p-2" style="width: 15%;">
                <small class="d-block mb-1">Cambio de Estado</small>            
            </div>
        </div>
    </div>


    <div class="border rounded p-3">
        <div class="d-flex flex-wrap justify-content-between">
            <div class="p-2" style="width: 30%;">
                <small class="d-block mb-1">Cliente:</small>
                <input type="text" class="form-control border-dark" style="height: 25px;" />
            </div>

    </div>
</div>
