@model IEnumerable<ArchivoViewModel>
@{
    ViewData["Title"] = "Subir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Subir Archivos</h1>

<a asp-controller="Archivos" asp-action="Archivos" class="btn btn-primary">Ir a Archivo Adjunto</a>


<!-- Formulario para subir archivos -->
<div>
    <form asp-action="SubirArchivo" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="archivo">Seleccionar archivo</label>
            <input type="file" class="form-control" id="archivo" name="archivo" required />
        </div>

        <div class="form-group">
            <label for="NroOrdenTrabajo">Número de Orden de Trabajo</label>
            <input type="number" class="form-control" id="NroOrdenTrabajo" name="nroOrdenTrabajo" required />
        </div>

        <div class="form-group">
            <label for="CorrelativoAdjunto">Correlativo Adjunto</label>
            <input type="number" class="form-control" id="CorrelativoAdjunto" name="correlativoAdjunto" required />
        </div>

        <div class="form-group">
            <label for="FechaAlta">Fecha de Alta</label>
            <input type="datetime-local" class="form-control" id="FechaAlta" name="fechaAlta" required />
        </div>

        <div class="form-group">
            <label for="UserID">ID de Usuario</label>
            <input type="text" class="form-control" id="UserID" name="userID" required />
        </div>

        <button type="submit" class="btn btn-primary mt-2">Subir</button>
    </form>
</div>

@if (TempData["Message"] != null)
{
    <div class="alert alert-info">
        @TempData["Message"]
    </div>
}

<hr />
