@{
    ViewData["Title"] = "Home Page";
    var OrdenesTrabajo = ViewData["Orden"] as List<OrdenDeTrabajo>;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <form action="@Url.Action("PruebaBD", "Buscar")" method="post">
        <div class="mb-3">
            <label for="NumOt" class="form-label">Nro OT:</label>
            <input type="number" name="nroOTD" class="form-control" id="NumOt" aria-describedby="emailHelp" placeholder="1235">
            <input type="number" name="nroOTH" class="form-control" id="NumOt" aria-describedby="emailHelp" placeholder="1235">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Recúerdame</label>
        </div>
        <div class="mb-3">
            <label for="Asunto" class="form-label">Asunto:</label>
            <!-- El value del input se rellena con el valor de Asunto si existe -->
            <input type="text" name="Asunto" class="form-control" id="Asunto" value="@OrdenesTrabajo?.First().Asunto.Trim()">
        </div>
        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
    </form>
    @if (OrdenesTrabajo != null && OrdenesTrabajo.Any())
    {
        <h2>Lista de Órdenes de Trabajo</h2>
        <ul>
            @foreach (var orden in OrdenesTrabajo)
            {
                <li>
                    <strong>Número OT:</strong> @orden.NroOrdenTrabajo <br/>
                    <strong>Asunto:</strong> @orden.Asunto
                </li>
            }
        </ul>
    }



</div>